@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set up CSS variables */
@layer base {
  :root {
    --radius: 0.5rem;
  }

  /* Global reset for box-sizing */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* Reset default margin and padding */
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }

  /* Set up viewport and background */
  html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #19173B, #0A2339, #0C1529);
  }
}

/* Hide scrollbar styles */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}


.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}





